a.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

a.link-button .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 1px solid #ffffff;
  background-clip: content-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

a.link-button .icon .play-icon {
  border: 7px solid #ffffff;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-right: -7px;
}



